<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
    <property name="show_sql">true</property>
    <property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
    <property name="connection.connection_string">Server=ec2-54-83-196-179.compute-1.amazonaws.com;Database=d6ct1qpp02mk3s;User ID=fxtqwaclhcddgd;Password=974dd48d792fc1e730bb11190059004f21f22ba03952904e3421d9ed7df220e4;Enlist=true;</property>
    <property name="current_session_context_class">thread_static</property>
    <property name="adonet.batch_size">1</property>
  </session-factory>
</hibernate-configuration>